@charset "utf-8";
/* CSS Document */

// imports
@import "reset.less";

// define colors
@bg_color: #dedcda;
@wrapper_color: #fff;
@header_color: #296525;
@footer_bg: #111210;
@footer_color: #84837d;
@fg_color: #296525;
@gray_color: #6a6864;

// define widths
@wrapper_width: 900px;

// define margins
@wrapper_margin: 33px;
@vertical_margin: 25px;

// mixins
.inverted-a() {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
.column(@width, @float: left) {
  margin: @vertical_margin 0 0 0;
  float: @float; width: @width;
  margin: @vertical_margin 0 0 0;
  h2 {
    border-bottom: 1px solid @fg_color;
    padding: 0 0 10px;
  }  
}

/* Minimal base styles. */
html { overflow-y: scroll }
body { text-align: left; font-size: small; }
a:hover, a:active { outline: none }
ol { list-style-type: decimal }
small { font-size: 85%; }
strong, th { font-weight: bold }
textarea { overflow: auto; }
.ie6 legend, .ie7 legend { margin-left: -7px; }
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0 }
::-moz-selection{ background: @fg_color; color: #fff; text-shadow: none; }
::selection { background: @fg_color; color: #fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: @fg_color; }
button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

/*----- custom global styles -----*/
body { color: #000; background-color: @bg_color; font-family: Arial, Verdana, Tahoma, sans-serif; }
input { padding: 0 }
#wrapper { width: @wrapper_width; margin: @vertical_margin auto; padding: @vertical_margin 0 0; position: relative; background-color: @wrapper_color; }
h1 { font-size: 180%; color: @fg_color; margin: 0 0 30px; }
h2 { font-size: 140%; color: @fg_color; margin: 0 0 15px; }
h3 { font-size: 115%; color: @fg_color; }
p { line-height: 1.5; }
a { color: @fg_color; }
a:hover { text-decoration: none }

/*----- custom global classes -----*/
.noscreen { display: none; visibility: hidden; }
.reseter { float: none; clear: both }
.clear { overflow:hidden; width:1px; height:1px; clear:both }
.left { text-align: left }
.right { text-align: right }

/*----- HEADER -----*/
header {
  width: @wrapper_width - 2 * @wrapper_margin;
  height: 316px;
  margin: 0 @wrapper_margin;
  background: @header_color url(../img/header_bg.jpg) 0 0 no-repeat;
  #homepage a {
    display: block; width: 289px; height: 76px;
    background: #fff url(../img/logo.gif) 5px 2px no-repeat;
    span { display: none }
  }
}

/*----- CONTENT -----*/
#content {
  width: @wrapper_width - 2 * @wrapper_margin;
  margin: @vertical_margin @wrapper_margin 0;
  padding: 0 0 @vertical_margin;
  overflow: hidden;
}

/*----- SECTION -----*/
section {
  float: right;
  width: 600px;
  h3 { margin: 0 0 10px }
  p { margin: 0 0 10px }
  ul,
  ol { margin: 0 0 10px; padding: 0 0 0 35px; line-height: 1.7; }
  form {
    th { vertical-align: top; padding: 3px 5px; text-align: right; }
    input,
    textarea { padding: 2px; margin: 2px; }
  }
  #aktuality {
    .column(360px);
    .aktualita {
      clear: both; margin: 0 0 30px;
      img { float: left; margin: 0 15px 10px 0; }
    }
  }
  #fotogalerie {
    .column(210px, right);
    a {
      margin: 0 5px 3px 0;
    }
  }
  .fotogalerie a {
    text-decoration: none;
    margin: 0 10px 10px 0;
    padding: 0;
    display: block;
    float: left;
    img {
      border: 1px solid @fg_color;
      &:hover {        
        border: 1px solid #000;
      }
    }
  }
}

/*----- ASIDE -----*/
aside {
  float: left; width: 200px; height: auto;
  /*----- NAVIGATION -----*/
  nav {
    margin: 0 0 30px;
    ol { line-height: 1.7 }
    a {
      .inverted-a;
      padding: 0 0 0 30px;
      &#cesky { background: #fff url(../img/lang/cz.gif) 0 0 no-repeat }
      &#english { background: #fff url(../img/lang/en.gif) 0 0 no-repeat }
      &#deutsch { background: #fff url(../img/lang/de.gif) 0 0 no-repeat }
	}
    span { display: block; padding: 0 0 0 30px; color: @gray_color; line-height: 1.3; margin: 0 0 5px; }
  }
  h3,
  p {
    padding: 0 0 0 30px;
    margin: 0 0 5px;
    a {
      color: #000;
    }
  }  
}

/*----- FOOTER -----*/
footer {
  padding: 35px 0 70px; 
  background-color: @footer_bg; 
  color: @footer_color;
  #footer {
    width: @wrapper_width;
    margin: 0 auto;
    text-align: center;
    a {
      color: @fg_color;
      .inverted-a;
    }
  }
}


/* End of CSS Document */
