/web/bundles/
/web/js
/web/css
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/config/config_*_local.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/vendor/
/bin/*
!bin/fullreload
!bin/travis_*
/composer.phar
.idea
web/generated-js
web/generated-css
web/uploads
.DS_Store
web/frontend
.buildpath
.project
.settings/
*.sublime-project
*.sublime-workspace
node_modules/
web/vendor/
.sass-cache/
web/css
components/
/nbproject/private/
.htpasswd
web/floors
#*
*$
*.BAK
*.Z
*.bak
*.class
*.dylib
*.elc
*.ln
*.log
*.merge-left*
*.merge-right*
*.mine
*.o
*.obj
*.olb
*.old
*.orig
*.prej
*.pyc
*.pyo
*.rej
*.working
*/.git/*
*~
,*
.#*
.DS_Store
.del-*
.deployables
.make.state
.nse_depinfo
.svn
CVS.adm
RCS
RCSLOG
SCCS
_$*
_svn
svn-commit*.tmp
/.htaccess
nbproject
data
/app/tmp
